*, *::before, *::after {
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

body {
    background-color: #ffdbc5;
    color: #1d2d50;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: auto;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 4px solid #8e9397;
    border-radius: 4px;
    background-color: #ffdbc5;
    color: #00334e;
}

#recipe-description {
    rows: "4";
    cols: "50"
}

button {
    background-color: #ffdbc5
    transition-duration: 0.4s;
    border: none;
    border-radius: 12px;
    color: #8e9397;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
}

button:hover {
    background-color: #ffdbc5;
    border: none;
}

.welcome-text {
    font-size: 70px;
    text-align: center;
    font-family: 'Sacramento', cursive;
}

.container {
    width: 900px;
    max-width: 80%;
    background-color: #f4f4f4;
    padding: 20px;
    margin: 40px auto;
    border: 7px solid #cf1b1b;
    border-radius: 30px;
    box-shadow: 0 0 10px 6px #900d0d;
    display: block;
}

#recipe-form {

    text-align: center;
    display: none;
}